{% extends "base_generic.html" %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}" />
{% endblock %}
{% block title %}
<title>Projeto: {{project.title}}</title>
{% endblock %}

{% block content %}
<div class="centro">
    <h1 class="title magic" style="background: linear-gradient(90deg, {{project.color}}, #21b0c9, #2022af, {{project.color}}) 0 0/200%; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    animation: 5s linear infinite background-pan;">
    {{ project.title }}
    </h1>
    

    <div class='info'>
        <div class="info__text">
            <p><strong>Feito com:</strong> <a href="">{{ project.tech }}</a></p>
            <p><strong>Sobre:</strong> {{ project.summary }}</p>
        </div>  
        {% if project.type == 0 %}
        <a class='link' href="{{project.link}}"><img class='image' src="/static/img/uploads/{{project.thumb}}"
            style="border: 3px solid {{project.color}};"
            alt={{project.title}} />
            <p class='visit'>
                Visite!
            </p>
        </a>
        {% else %}
            <img class='image-static' src="/static/img/uploads/{{project.thumb}}"
            style="border: 3px solid {{project.color}};"
            alt={{project.title}} />
        {% endif %}
    </div>

</div>
{% endblock %}