.title {
    margin: 32px;
}

.projects {
    list-style: none;
}

.project {
    border: 4px solid;
    border-radius: 32px;
    padding: 32px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}



.project__title {
    font-size: 1.7rem;
    display: block;
}